[Desktop Entry]
Type=Application
Name=Rivalcfg GUI
Comment=Configure SteelSeries mice (unofficial GG-style GUI)
Exec=rivalcfg-gui
Icon=rivalcfg-gui
Categories=Settings;HardwareSettings;
Keywords=steelseries;rival;mouse;dpi;rgb;
StartupNotify=true
